name: Run tests
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions: read-all
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Format
        run: |
          cargo fmt --check
      - name: Install protoc dependency
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          version: '24.x'
      - name: Build
        run: |
          cargo build --profile release
      - name: Run all tests
        run: |
          cargo test --all-features --profile release
